<form asp-action="SearchCardById" method="post">
    <div class="form-group offset-md-5 col-md-2">
        <div class="text-center">Enter login Card</div>
        <input class="form-control" name="cardNumber" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
