@model decimal

<div class="bg-primary m-1 p-1 text-white"><h4>Numb</h4></div>
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/jquery-validate/jquery.validate.min.js" />
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Widthdraw" method="post">
    <div class="form-group">
        <label>Enter the amount cash</label>
        <input class="form-control" name="sum" />
    </div>
    <button type="submit" class="btn btn-primary">Width</button>
    <button type="reset" class="btn btn-primary">Reset</button>
    <a asp-action="Exit" >Exit</a>
    <a asp-action="Menu" class="btn btn-secondary">Back</a>
</form>