@model ReportViewModel
<p><h1>Operation Succesfull</h1></p>
<br />You card balance: @Model.Balance
<br />Card Id: @Model.CardNumb
<br />Data: @Model.DateTime
<br />Widthdraw sum: @Model.Widthdraw <br />

<a asp-action="Menu" class="btn btn-secondary">Go Back</a>
<a asp-action="Exit" class="btn btn-secondary">Exit</a>