<div class="bg-primary m-1 p-1 text-white"><h4>Error Message</h4></div>
<div class="text-black"> <h4>Access Denied, please log in </h4></div>
<input type="button" onclick="history.go(-1)" value="Go back" />
